* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

.title {
    grid-area: head;
}

header {
    grid-area: head;
    background-color: rgb(60, 67, 70);
    color: rgb(164, 192, 198);
    display: grid;
    align-content: center;
    justify-items: start;
    padding-left: 100px;

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 22px;
        color: rgb(144, 155, 158);
        display: grid;
        justify-content: center;
    }
}

div {
    max-width: 1200px;
}

#brödtext h2 {
    justify-content:center;
    display: grid;
    max-width: 412.36px;
    align-content: center;
    margin-left: 50px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: rgb(164, 192, 198);
}



li,
p {
    margin: 5px;
    font-size: 15px;
}

#side-info {
    grid-area: sideInfo;
    background-color: rgb(85, 138, 156);
    color: rgb(31, 40, 48);
    padding: 25px;

    h2 {
        margin-bottom: 20px;
        color: rgb(12, 16, 19);
    }

    p,
    li {
        margin-left: 0px;

    }
}

.position {
    font-style: italic;
}

.info-list {
    list-style-type: none;
}

#side-info div {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
}

#referenser {
    padding-top: 20px;

    h2 {
        text-decoration: underline 1px;
        margin-bottom: 0px;
    }
}

#brödtext {
    grid-area: bread;
    display: grid;
    padding: 0px 50px 0px;
    color: rgb(60, 67, 70);

    #fast-anställning {
        grid-template-areas:
            "head"
            "b";
        grid-template-columns: 1fr;
    }

    li {
        margin-left: 40px;
    }
}

#fast-anst {
    
    display: grid;
    grid-template-areas:
        "a b c";
    grid-template-columns: 1fr 1fr 4fr;
    li {
        margin-left: 0px;
    }
}

#sommarjobb ul li {
    grid-area: b;
}

#sommarjobb ul p {
    grid-area: c;
}

#arbetslivserfarenheter {
    display: grid;
    grid-template-rows: 70px;
    grid-row-gap: 30px;
    padding-bottom: 30px;

    h2 {
        border-top: 0;
    }

    h3 {
        font-size: 1.3em;
    }
}

#arbetslivserfarenheter ul {
    display: grid;
    grid-template-areas:
        "head head"
        "b c";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 25px;
    grid-row-gap: 10px;
}

#sommarjobb {
    max-width: 650px;
    
    p {
        font-style: italic;
    }
}

#utbildning {
    display: grid;
    grid-template-rows: 70px;

    #utb-lista {
        display: grid;
        grid-template-areas:
            "head head"
            "b c";
        grid-template-columns: 2fr 1fr;
        grid-row-gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 650px;
    }
    p {
        display: grid;
        align-items: center;
        font-style: italic;
    }
}

#övriga-meriter {
    display: grid;
    grid-template-rows: 70px;

    li {
        /* padding: 5px 0px 5px; */
    }
}

@media  (max-width: 1600px) {
    #fast-anst {
        grid-template-columns: 180px 180px 500px;
    }
}

@media  (max-width: 1400px) {
    #fast-anst {
        display: flex;
        flex-direction: column;

        #info-container {
            margin-left: 40px;
        }
    }
}

img {
    border-radius: 50%;
    padding: 10%;
}

body {
    display: grid;
    grid-template:
        "sideInfo head"
        "sideInfo bread" / 1fr 4fr;
}

@media (max-width: 1140px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        padding-left: 10px;
    }
    #brödtext {
        padding: 10px;

        h2 {
            margin-left: 0px;
            justify-self: center;
            width: 310px;
        }
    }
}